.header{
    display: block;
    padding-top: 80px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}


.red { color: rgb(255, 47, 0); }
.blue { color: rgb(0, 110, 255); }
.yellow { color: rgb(255, 187, 0); }
.green { color: rgb(30, 182, 7); }

hr {
    width: 100%;
    color: rgba(0, 0, 0, 0.283);
}

.line {
    display: block;
    width: 613px;
}
.endline {
    display: block;
    padding-top: 20px;
    width: 613px;
}


.Find_pages {
    display: block;
    align-content: start;
}

.row {
  display: flex;
  align-items: center;
  margin: 20px;
}

form {
    padding-inline: 20px;
    font-size: 14px;
}

input {
    width: 400px;
    border: 1px solid rgba(111, 111, 111, 0.45);
    height: 20px;
}

.rn1 {
    width: 180px;
    border: 1px solid rgba(111, 111, 111, 0.45);
    height: 20px;
}

select {
    width: 408px;
    background-color: white;
    border: 1px solid rgba(111, 111, 111, 0.45);
    height: 24px;
}

.find {
    width: 100px;
    height: 30px;
    margin-left: 508px;
    background-color: rgb(88, 152, 254);
    font-weight: 700;
    letter-spacing: 1px;
}

label {
    width: 180px;
}

#dash {
    padding: 15px;
}

#test {
    display: block;
    padding-bottom: 30px;
}
#test h3 {
    padding-left: 20px;
    margin: 0;
}