.header{
    display: block;
}

.red { color: rgb(255, 47, 0); }
.blue { color: rgb(0, 110, 255); }
.yellow { color: rgb(255, 187, 0); }
.green { color: rgb(30, 182, 7); }

hr {
    width: 100%;
    color: rgba(0, 0, 0, 0.283);
}

#logo {
    width: 350px;
    padding-left: 30px;
    margin: 30px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#center {
    margin-top: 200px;
}

#search_img {
    width: 28px;
    height: 28px;
}

.wrapper {
    position: relative;
    max-width: 100%;
}

form {
    position: relative;
}

#search_bar {
    padding: 10px;
    width: 500px;
    border: 1px solid rgba(111, 111, 111, 0.45);
    border-radius: 50px;
    background-color: white;
}

#search_img {
    background-color: rgb(255, 255, 255);
    height: 20px;
    border-radius: 50px;
    position: absolute;
    right: 2%;
    top: 25%;

}

button {
    padding: 8px;
    margin: 20px;
    border: 1px solid rgba(174, 174, 174, 0.45);
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.Find_pages {
    background-color: brown;
    display: block;
    align-content: start;
}

.row {
  display: flex;
  align-items: baseline;
  margin: 20px;
}

.Additional_settings {
    display: block;
}

#test {
    background-color: aqua;
    display: block;
}